$footer-color: #bbbbbb;
$footer-border-color: #bbbbbb;
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto 20px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: auto;
  background-color: $footer-color;
  border-style: solid;
  border-top: thick $footer-border-color;
}

pre {
  font-size: 13px;
}

.date {
  font-size: 0.9em;
}

.home-code {
  font-size: 0.1em;
  line-height: 2em;
}