.container
	%p.lead
		Somebody Codes - About
	.span4
		%p.lead Why?
		%p The original idea was the have an app similar to HackerTyper.
		%p HackerTyper uses some linux distro source code, but it's always the same.
		%p I figured with so many code hosting websites, you should be able to randomly select one and use that as the source.
		%p This proved to be problematic because none of the code was really long enough.
		%p I saw some pretty crazy code during the development, and thought it would still be fun to get random bits of code to display. So here we are.

	.span4
		%p.lead What's with the styling?
		%p This is bootstrap.386, a theme for bootstrap v2.
		%p I found this some time after abandoning this project, and it inspired me to finish it.
		%p One of the downsides of having no design ability is projects come to a halt when you need to design something. Bootstrap.386 happened to be a saving grace in this regard.

	.span4
		%p.lead Where do you get the code?
		%p I grabbed the code from github gists, stackoverflow, and github itself.
		%p I probably have a couple of thousand for each, with some tasks to grab some new ones periodically.