.container
	.row
		.span12
			%p.lead Somebody Codes
			%p Every minute of every day, someone's churning out code. Whether it's for work, pleasure, or learning.
			%p Haven't you ever wanted to take a peek?

