.container
	.row-fluid
		.span3
			%p.lead Submission guidelines
			%p
				I'm looking for any code, really.
				The only requirements are they the code source can be linked to, as well as some form of profile page.
				A description is useful, but not required.
			%p If you're feeling particularly lazy, you can paste in a link to a gist, github file, or stackoverflow and I'll do my best to figure out what you're looking for.
		.span9
			%p.lead Submit
			%form
				%form-group
					%h4 Source:
					%input.form-control
					%a.btn.btn-primary.btn-(href="#") Find
