!!!
%html(lang="en")
	%head
		%meta(chatset="utf-8")
		%meta(content="width=device-width, initial-scale=1.0" name="viewport")
		%title
			=render_partial :title
		=js :jquery, "bootstrap-386", :html5shiv, :script
		%script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert" type="text/javascript")
		%link(rel="stylesheet" href="/css/bootstrap.css")
		%link(rel="stylesheet" href="/css/bootstrap-responsive.css")
		%link(rel="stylesheet" href="/css/docs.css")
		%link(rel="stylesheet" href="/css/style.css")
	%body(data-target=".bs-docs-sidebar" data-spy="scroll" data-twttr-rendered="true")
		#wrap
			.navbar.navbar-inverse.navbar-fixed-top
				.navbar-inner
					.container
						%button.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse" type="button")
							%span.icon-bar
							%span.icon-bar
							%span.icon-bar
						%a.brand(href="./index") Somebody Codes
						.nav-collapse.collapse(style="height: 0")
							%ul.nav
								%li.active
									%a(href="./index/") Home
			.jumbotron.masthead
				.container
					%h1 Somebody Codes
					%p A note, an idea, a life's work...
			=yield
		#footer
			.container
				%p.text-muted This is a footer -- Put something here
